.operationArea {
  display: flex;
  flex-direction: column;
  align-items: center;

  span {
    margen-left: 4px;
  }

  .buttons {
    margin-top: 8px;

    button {
      margin-left: 4px;
      margin-right: 4px;
    }
  }
}
